@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

/* Prevent horizontal scroll */
#__next,
main {
    overflow-x: hidden;
}